{% extends "layout.html" %}
{% block heading %}
	Марат<br>
	<img src="{{url_for('static', filename='IMG-20191222-WA0007.jpg')}}" width="400px" />
{% endblock %}

{% block body %}
		<br>суперспособность - невероятные актерские способности профессионального симулянта
		<br>интересный факт: использует слово "щас", обозначающее временный промежуток, начинающийся, когда оно было сказано, до момента когда обязательство невозможно избежать
		<br><a href="{{url_for('home')}}">Вернуться</a>
{% endblock %}
