.Pres_Table{
		
		table{
				border:2px solid #34eb4c ;
				border-collapse: collapse;
				
			}
			th, td{
				border:1px solid pink;
				width: 40%;
				padding: 10px;
				text-align: center;

				}
			th{
				background-color: lightgreen;
			}
}
.Interrogation{
	form{
		table{
			border:2px solid #34eb4c;
			background-color: lightgreen;
			border-collapse:collapse;
		}
		td{
			border:1px solid lightgreen;
			padding:10px;
			text-align:left;
		}
	}
}
%body{
	padding:20px;
}
nav{
	@extend %body;
}
.Interrogation{
	@extend %body;
}
.Pres_Table{
	@extend %body;
}
#bottom{
	@extend %body;
}
#footer{
	@extend %body;
}
