<!DOCTYPE html>
<html>
	<head>
		<title> FIB web rage!</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link rel="stylesheet" href="variables0.css">
		<style>
			.row>div{
				padding:20px;
				border: solid blue;
			}
			.container{
				display: flex;
				flex-wrap:wrap;
			}
			.container>div{
				background-color: springgreen;
				font-size:20px;
				margin:20px;
				padding:20px;
				width:200px;
			}
			ol > li{
				color:red;
			}
			input[type="text"]{
				background-color:#32a852;
			}
			input[type="number"]{
				background-color: #05f569;
			}
			input[type="password"]{
				background-color: pink;
			}
			button{
				width: 200px;
				height:50px;
				font-size:24px;
				background-color: red;
			}
			button:hover{
				background-color: #ad1717;
			}
			p::selection{
				color:pink;
				background-color: #05f569;  
			}
			@media(max-width:1200px){
				#header_name, .name{
					font-size: 25px;
				}
			}
			@media(max-width:1200px){
				#header_name{
					margin-left:50px;

				}
			}
			@media(max-width:1200px){
				img{
					margin-left: 50px;
				}
			}
		</style>
	</head>
	<body>

		<header id="top">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSBx_gIenYClwLzl7NtInKJExHzcuWzPa3qKYtPHhfWoyQMiswb&usqp=CAU"
			 		alt="Girl in a jacket"
			 		width="18%">
			<p id="header_name">CENATION<br>
			<span class="name">
				<a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D0%B7%D0%B0%D1%80%D0%B1%D0%B0%D0%B5%D0%B2,_%D0%9D%D1%83%D1%80%D1%81%D1%83%D0%BB%D1%82%D0%B0%D0%BD_%D0%90%D0%B1%D0%B8%D1%88%D0%B5%D0%B2%D0%B8%D1%87">
					Superman
				</a>	
			</span>
			has been defited
			</p>
		</header>
		<div id="video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/9EPL_4HyCFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<nav>
		<h2>Table of Content</h2>
		<ol>
			<li><a href="#Interrogation">Interrogation</a></li>
			<li><a href="#Presidents">Presidents</a></li>
			<li><a href="#The history of an Hero">The history of an Hero</a></li>
			<li><a href="#Russian_ABC">Russian ABC</a></li>
		</ol>
		</nav>
		
		<section class="Interrogation" id="Interrogation">
			<h2>Interrogation</h2>
			<form>
				<table>
					<tr>
						<td>Who are you?!</td>
						<td><input name="name" type="text" placeholder="Screwhead"></td>
					</tr>
					<tr>
						<td>Say the Password!</td>
						<td><input name="password" type="password" placeholder="My little pony"></td>
					</tr>
					<tr>
						<td>How young are you?</td>
						<td><input name="name" type="number" placeholder="5"></td>>
					</tr>
					<tr>
						<td>Favorite color?!</td>
						<td><input name="color" type="radio" value="#32a852">Green
							<input name="color" type="radio" value="#146908">Green
							<input name="color" type="radio" value="#05f569">Green
							<input name="color" type="radio" value="pink">Pink
						</td>
					</tr>
					<tr>
						<td>What is the dumb, you live at?</td>
						<td><input name="country" list="countries" placeholder="I know where you live"></td>
						<datalist id="countries">
						<option value="Albania">
						<option value="Sirodil">
						<option value="MiddleEarth">
						<option value="outside">
						<option value="I DON't KNOW!">
						</datalist>
					</tr>
					<tr>
						<td><button>DON'T PUSH</button></td>
					</tr>
					</table>
				</div>
			</form>
			
		</section>


		<section class="Pres_Table">
			<h2 id="Presidents">Presidents</h2>
			<table>
				<tr>
					<th>Full Name</th>
					<th>Years in office</th>
				</tr>
				<tr>
					<td>George Washington</td>
					<td>1789-1797</td>
				</tr>
				<tr>
					<td>JOHN CENA</td>
					<td>1797-&#8734;</td>
				</tr>
			</table>
		</section>

		<footer id="bottom">
			<h2 id="The history of an Hero">
				The history of an Hero
			</h2>
		<div class="grid">	
			<div class="grid-item">
				Довакин, Довакин, наль ок зин лос варин,<br>
				Уа деин вокуль мафаерак аст валь!<br>
				Арк фин норок паль гран фод нуст хон зиндро зан,<br>
				Довакин, фа хин коган му драль!<br>
				Хузра ну, куль до од, уа ан бок лингра вод,<br>
				Арк фин тей, бозик фун, до фин геин!<br>
				Уо лост фрон уа ней дов, арк фин рейлик до йуль,<br>
				Вот ан сулейк уа ронит фаль креин!<br>
				Арк фин зуль, рок дрей код, нау тол морокеи фрод,<br>
				Руль лот Тазокан мотад вот кеин!
				<br>Сарот ту'ум, мед ан туз, вей зеим хокорон па,
				<br>Ол фин Довакин комейт ок реин!
				<br>Арк фин Кел лост прода, до вед винг ко фин гра,
				<br>Тол фод зейма уин кеин мейз фундеин!
				<br>Алдуин, фейн до йун, крузик вокун стаднау,
				<br>Вот ан балок уа дивон фин леин!
				<br>Нуз ан суль, фент алок, фод фин вуль дова нок,
				<br>Фен кос налот мафаерак арк руз!
				<br>Паз Кейзаль фен кос стин нол беин Алдуин йот,
				<br>Довакин кос фин савик до муз!
			</div>
			<div class="grid-item" id="song">
				<img id="dovakin_meme" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSLsGEgfIjyi9D-Kw8ZrjuluCC4XYbYuChrjescbWyzqb_Z7-Ch&usqp=CAU">
				<div id="dovakin_rock">
					<audio controls >
						<source src="skayrim-dragonborn.mp3" type="audio/mpeg">
					</audio>
				</div>	
			</div>
		</div>
		</footer>
		<div class="container" id="Russian_ABC">
			<div>A</div>
			<div>B</div>
			<div>V</div>
			<div>G</div>
			<div>D</div>
			<div>E</div>
			<div>J</div>
			<div>Z</div>
			<div>I</div>
			<div>K</div>
			<div>L</div>
			<div>M</div>
			<div>N</div>
			<div>O</div>
			<div>P</div>
			<div>R</div>
			<div>S</div>
			<div>T</div>
			<div>Y</div>
			<div>F</div>
			<div>H</div>
			<div>C</div>
			<div>Ch</div>
			<div>Sh</div>
			<div>Sh'</div>
			<div>Wy</div>
			<div>U</div>
			<div>Ya</div>
		</div>
		<div class="row">
			<div class="col-3">
				THIS is the first spartha
			</div>
			<div class="col-3">
				IS tis the second spartha?
			</div>
			<div class="col-3">
				SPARTHA! SAVE SPARTHA!
			</div>
		</div>
		<div>
			<h1><img src="C:\Users\admin\yoda\templates\IMG-20191222-WA0007.jpg"></h1>
			<img src="cd C:\Users\admin\yoda\templates\dirty-harry-02.jpg">
			<img src="C:\Users\admin\yoda\templates\dirty-harry-02.jpg">
		</div>
	</body>
</html>	

